.footer {
    margin-top: 20px;
    width: 360px;
    height: 80px;
    background: linear-gradient(100.27deg, #EFF3FD 33.17%, rgba(239, 243, 253, 0) 122.24%);
    padding: 10px;
}

.type input {
    width: 265px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0px 10px;
}

.footerContent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow {
    background: #4C82EF;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.info {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.power {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #B1B1B1;

}
.ai{
    font-family: Poppins;
font-size: 13px;
font-weight: 600;
line-height: 19.5px;
text-align: left;
color: #7A7F8C;

}